<!-- <div class="divider text-center" data-content="Legend"></div> -->
<section id="#legend"></section>
<details class="accordion" open>
  <summary class="accordion-header">
    <h3>
      <i class="icon icon-arrow-right mr-1"></i>
      Quick Definition
    </h3>
  </summary>
  <div class="accordion-body columns col-gapless">
    <div class="column col-12">
      <div class="container">
        <div class="columns col-12">
          <div class="column col-12">
            <table class="table" id="licence-table">
              <thead>
                <tr>
                  <th>License Condition</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="chip">Include Copyright</span></td>
                  <td>
                    A copy of the license and copyright notice must be included
                    with the software.
                  </td>
                </tr>
                <tr>
                  <td><span class="chip">Include Copyright (Source)</span></td>
                  <td>
                    A copy of the license and copyright notice must be included
                    with the software in source form, but is not required for
                    binaries.
                  </td>
                </tr>
                <tr>
                  <td><span class="chip">Document Changes</span></td>
                  <td>Changes made to the code must be documented.</td>
                </tr>
                <tr>
                  <td><span class="chip">Disclose Source</span></td>
                  <td>
                    Source code must be made available when the software is
                    distributed.
                  </td>
                </tr>
                <tr>
                  <td><span class="chip">Network Use Disclose</span></td>
                  <td>
                    Users who interact with the software via network are given
                    the right to receive a copy of the source code.
                  </td>
                </tr>
                <tr>
                  <td><span class="chip">Same License</span></td>
                  <td>
                    Modifications must be released under the same license when
                    distributing the software. In some cases a similar or
                    related license may be used.
                  </td>
                </tr>
                <tr>
                  <td><span class="chip">Same License (File)</span></td>
                  <td>
                    Modifications of existing files must be released under the
                    same license when distributing the software. In some cases a
                    similar or related license may be used.
                  </td>
                </tr>
                <tr>
                  <td><span class="chip">Same License (Library)</span></td>
                  <td>
                    Modifications must be released under the same license when
                    distributing the software. In some cases a similar or
                    related license may be used, or this condition may not apply
                    to works that use the software as a library.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</details>
